<nav class="navbar navbar-toggleable-md navbar-light bg-white fixed-top mediumnavigation">
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
		</button>
		<div class="container">
			<!-- Begin Logo -->
			<a class="navbar-brand" href="{{@blog.url}}">
			<img src="{{#if @blog.logo}} {{@blog.logo}} {{else}} {{asset "img/logo.png"}} {{/if}}" alt="logo">
			</a>
			<!-- End Logo -->
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<!-- Begin Menu -->
				<ul class="navbar-nav mr-auto">
		      {{#foreach navigation}}
					<li class="nav-item nav-{{slug}}{{#if current}} nav-current{{/if}}">
					     <a class="nav-link" href="{{url absolute="true"}}">{{label}}</a>
					</li>
		      {{/foreach}}
				</ul>
				<!-- End Menu -->
				<!-- Begin Search -->
				<form id="nav-search-form" class="form-inline my-2 my-lg-0 hidden-md-down">
					<script>
					function checkTextField(field) {
							if (field.value == '') {
									$(".search-results").addClass("results-hide");
							}
					}
					</script>
					<input id="search-field" class="form-control mr-sm-2" type="text" placeholder="{{t "Search headlines"}}" onblur="checkTextField(this);">
					<span type="button" value="search" class="search-icon"><svg class="svgIcon-use" width="25" height="25" viewbox="0 0 25 25"><path d="M20.067 18.933l-4.157-4.157a6 6 0 1 0-.884.884l4.157 4.157a.624.624 0 1 0 .884-.884zM6.5 11c0-2.62 2.13-4.75 4.75-4.75S16 8.38 16 11s-2.13 4.75-4.75 4.75S6.5 13.62 6.5 11z"></path></svg></span>
				</form>
				<!-- End Search -->
			</div>
		</div>
</nav>



<div class="search-results col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2" >
<ul id="search-results" class="search-results col-md-12" class="list-group"></ul>
</div>
